<section class="fav-list">
	<div class="fav-list__menu">
		<h2 class="fav-list__title">Tus series favoritas</h2>
		<button class="fav-list__reset"><i class="fas fa-trash-alt"></i></button>
	</div>
	<div class="fav-list__card">
		<img class="fav-list__card--image" src="https://via.placeholder.com/210x295/ffffff/666666/?text=TV" alt=""
			class="fav-list__card--image">
		<h3 class="fav-list__card--title">Título</h3>
	</div>
	<div class="fav-list__card">
		<img class="fav-list__card--image" src="https://via.placeholder.com/210x295/ffffff/666666/?text=TV" alt=""
			class="fav-list__card--image">
		<h3 class="fav-list__card--title">Título</h3>
	</div>
</section>