<section class="found-list">
	<div class="found-list__card">
		<img class="found-list__image" src="https://via.placeholder.com/210x295/ffffff/666666/?text=TV" alt="">
		<h2 class="found-list__title">Título</h2>
	</div>
	<div class="found-list__card">
		<img class="found-list__image" src="https://via.placeholder.com/210x295/ffffff/666666/?text=TV" alt="">
		<h2 class="found-list__title">Título</h2>
	</div>
	<div class="found-list__card">
		<img class="found-list__image" src="https://via.placeholder.com/210x295/ffffff/666666/?text=TV" alt="">
		<h2 class="found-list__title">Título</h2>
	</div>
	<div class="found-list__card">
		<img class="found-list__image" src="https://via.placeholder.com/210x295/ffffff/666666/?text=TV" alt="">
		<h2 class="found-list__title">Título</h2>
	</div>
</section>