<header class="header">
	<div class="header__identity">
		<img class="header__logo" src="./assets/images/tvretro-01.png" alt="retro TV">
		<h1 class="header__title">Buscador de series</h1>
	</div>

	<form class="form" action="">
		<input type="text" class="header__input js-inputSearch" id="search" name="search" placeholder="Busca por título">
		<button class="header__btn js-btnSearch">Buscar</button>
		<!-- <input class="header__btn js-btnSearch" type="button" value="Buscar"> -->
	</form>
</header>