<main>
	<section class="fav-list">
		<h2 class="fav-list__title">Tus series favoritas</h2>
		<button class="fav-list__reset"><i class="fas fa-trash-alt"></i></button>
		<div class="fav-list__card">
			<h3 class="fav-list__card--title">Título</h3>
			<img src="https://via.placeholder.com/210x295/ffffff/666666/?text=TV" alt="" class="fav-list__card--image">
		</div>
	</section>
	<section class="found-list">
		<div class="found-list__card">
			<h2 class="found-list__title">Título</h2>
			<img class="found-list__image" src="https://via.placeholder.com/210x295/ffffff/666666/?text=TV" alt="">
		</div>
	</section>

</main>